@use "../presets" as *;

%container {
    max-width: $ul;
    padding-left: $gap;
    padding-right: $gap;
    margin: 0 auto;
}

%paragraph {
    color: $color-gray;
    font-family: $font-main;
    font-size: $font-size;
    font-weight: 400;
  }